{% extends 'base2.html' %}
{% block container %}
{% load static from staticfiles %}
	<section class="slice bg-white">
		<div class="wp-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						<div class="wp-block default user-form"> 
							<div class="form-header">
								<h2>Inicia sesion</h2>
							</div>
							<div class="form-body">
								<form action="" method="post" id="frmLogin" class="sky-form">
								{% csrf_token %}
									<fieldset>
										<section>
											<div class="form-group">
												<label class="label">Usuario</label>
												<label class="input">
													<i class="icon-append fa fa-user"></i>
													<input type="text" name="username" placeholder="Usuario" required="required" >
												</label>
											</div>
										</section>
										<section>
											<div class="form-group">
												<label class="label">Contraseña</label>
												<label class="input">
													<i class="icon-append fa fa-lock"></i>
													<input type="password" name="password" placeholder="********" required="required" >
												</label>
											</div>
										</section>
										<section>
											<button class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="submit">
												<span>Iniciar sesion</span>
											</button>
										</section>
									</fieldset>  
								</form>    
							</div>
							<div class="form-footer">
								<p>No tienes una cuenta? <a href="#">Click aqui para crearla.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}