body {
  font-family: roboto;
  font-size: 13px;
}
.background_logo {
  width: 19.75%;
  height: 370px;
  background-color: #0f8efa;
  margin: none;
  position: initial;
  display: table;
  float: left;
}
.background_logo .logo_container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.background_logo .logo_image {
  text-align: center;
}
.background_logo .logo_text {
  font-size: 18px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0px;
}
.black16 {
  font-size: 16px;
  color: #000;
}
.black18 {
  font-size: 18px;
}
.gris13 {
  font-size: 13px;
  color: #8496a3;
}
.gris14 {
  font-size: 14px;
  color: #8496a3;
}
.orange14 {
  font-size: 14px;
  color: #f4811f;
  font-weight: bold;
}
.blue14 {
  font-size: 14px;
  color: #0f8efa;
}
.blue16 {
  font-size: 16px;
  color: #0f8efa;
}
.container_cabecera {
  background-image: url("../images/photo-back.png");
  background-repeat: repeat;
  float: left;
  width: 80.27%;
  height: 370px;
}
.container_cabecera .mascara {
  height: 100%;
}
.container_cabecera .mascara .box_steps {
  font-size: 36px;
  float: left;
  width: 700px;
  top: 50%;
  margin-left: 20px;
  position: relative;
  transform: translateY(-50%);
}
.container_cabecera .mascara .box_steps .enc_prov {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-left: 20px;
}
.container_cabecera .mascara .box_steps .step_by_step {
  margin-top: 30px;
  font-size: 16px;
  color: #fff;
}
.container_cabecera .mascara .box_steps .step_by_step .publi {
  float: left;
  margin-left: 20px;
  display: block;
  width: 180px;
  text-align: center;
}
.container_cabecera .mascara .box_steps .step_by_step .publi .step_icon {
  height: 68px;
  margin-bottom: 10px;
}
.container_cabecera .mascara .box_steps .step_by_step .arrow {
  float: left;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.container_cabecera .mascara .box_steps .step_by_step .recib {
  float: left;
  width: 180px;
  text-align: center;
}
.container_cabecera .mascara .box_steps .step_by_step .selec {
  float: left;
  width: 180px;
  text-align: center;
}
.container_cabecera .mascara .container-loging {
  width: 220px;
  float: right;
  background-color: #fff;
  opacity: 0.8;
  padding: 10px;
  margin: 20px;
  color: #333;
  border-radius: 4px;
}
.container_cabecera .mascara .container-loging a {
  font-size: 12px;
  color: #00b3f8;
}
.container_cabecera .mascara .container-totadiva-nr {
  width: 220px;
  float: right;
  background-color: #fff;
  opacity: 0.8;
  padding: 10px;
  margin: 0px 20px 20px 20px;
}
.container_cabecera .mascara .container-totadiva-nr p {
  margin-bottom: 5px;
  font-size: 14px;
}
.no_registrado {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.contrasena-box {
  width: 52%;
  float: left;
}
#ingresar {
  float: left;
  background-color: #0f8efa;
  border: 2px;
  border-radius: 4px;
  border-color: #fff;
  height: 35px;
  width: 45%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding-top: 8px;
  padding-left: 8px;
  display: inline-block;
}
#ingresar p {
  float: left;
  color: #fff;
  display: inline-block;
}
#ingresar img {
  float: left;
  display: inline-block;
  margin-left: 5px;
}
#registra-empresa {
  float: left;
  background-color: #0f8efa;
  border: 2px;
  border-radius: 4px;
  border-color: #fff;
  height: 35px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding-top: 8px;
  padding-left: 23px;
  display: inline-block;
}
#registra-empresa p {
  float: left;
  color: #fff;
  display: inline-block;
}
#registra-empresa img {
  float: left;
  display: inline-block;
  margin-left: 5px;
}
.header-box {
  width: 100%;
  height: 95px;
  background-color: #dee9ff;
  position: relative;
  margin-top: 0px;
}
.header-box .search-container {
  position: relative;
  margin-left: 23%;
  top: 32%;
  float: left;
}
.header-box .search-container .search-box {
  width: 600px;
  float: left;
}
.header-box .search-container .search-box #id-search-box {
  width: 100%;
  height: 35px;
}
.header-box .search-container .search-box ::-webkit-input-placeholder {
  padding-left: 8px;
}
.header-box .search-container .button-search {
  float: left;
}
.header-box .search-container .button-search #id-button-search {
  background-color: #0f8efa;
  border: 2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: #fff;
  height: 35px;
  width: 95px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-left: 8px;
}
.header-box .search-container .button-search #id-button-search img {
  float: left;
  color: #fff;
  bottom: 3px;
}
.header-box .search-container .button-search #id-button-search p {
  float: left;
  display: inline-block;
  margin-left: 7px;
  margin-top: 3px;
  color: #fff;
  font-size: 14px;
}
.header-box .button-publi-requi {
  position: relative;
  top: 32%;
  float: left;
  margin-left: 8.5%;
}
.header-box .button-publi-requi #id-button-publi-requi {
  background-color: #f09300;
  border: 2px;
  border-radius: 4px;
  border-color: #fff;
  height: 38px;
  width: 190px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-left: 10px;
}
.header-box .button-publi-requi #id-button-publi-requi img {
  float: left;
  bottom: 3px;
}
.header-box .button-publi-requi #id-button-publi-requi a {
  float: left;
  display: inline-block;
  margin-left: 7px;
  margin-top: 3px;
  color: #fff;
  font-size: 14px;
}
.header-box .button-publi-requi #id-button-publi-requi a:hover {
  text-decoration: none;
}
.header-box .button-publi-requi #id-button-publi-requi:hover {
  background: #f0a400;
}
.resultado-busqueda {
  margin-left: 23%;
  position: relative;
  width: 51.2%;
  display: inline-block;
  float: left;
}
.resultado-busqueda .container-empresa1 {
  width: 695px;
  margin-top: 25px;
  height: 117px;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
}
.resultado-busqueda .container-empresa1 .container-logo-empresa {
  float: left;
  width: 100px;
  height: 70px;
  border-color: #d8e4e9;
  border-style: solid;
  border-width: 1px;
  margin: 4px 10px 10px 0;
  position: relative;
  text-align: center;
  padding: 5px;
}
.resultado-busqueda .container-empresa1 .container-logo-empresa .logo-empresa {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.resultado-busqueda .container-empresa1 .container-pedido {
  float: left;
}
.resultado-busqueda .container-empresa1 .container-pedido .title-req {
  font-size: 18px;
  color: #0f8efa;
}
.resultado-busqueda .container-empresa1 .container-pedido .title-req a:hover {
  color: #f4811f;
  text-decoration: underline;
}
.resultado-busqueda .container-empresa1 .container-pedido .title-emp {
  font-size: 14px;
  color: #8496a3;
}
.resultado-busqueda .container-empresa1 .container-pedido .sub-requerimientos {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: inline;
}
.resultado-busqueda .container-empresa1 .container-pedido .car-tecnicas {
  font-size: 13px;
  color: #333;
  margin-right: 10px;
  display: inline;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box {
  float: left;
  margin-top: 5px;
  font-size: 13px;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .descripcion {
  float: left;
  display: inline;
  margin-right: 10px;
  width: 120px;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .descripcion img {
  float: left;
  padding-top: 5px;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .descripcion .descripcion-text {
  float: left;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .descripcion .descripcion-text .orange14 {
  display: inline;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .box-enviar-cotizacion {
  float: left;
  margin-left: 10px;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .box-enviar-cotizacion .id-enviar-cotizacion {
  border-radius: 4px;
  border-width: 1px;
  height: 36px;
  border-color: #026ac3;
  background: none;
  font-size: 14px;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .box-enviar-cotizacion .id-enviar-cotizacion:hover {
  background: #f09300;
  color: #fff;
  border-color: #fff;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .box-enviar-cotizacion .id-enviar-cotizacion img {
  float: left;
}
.resultado-busqueda .container-empresa1 .container-pedido .descripcion-box .box-enviar-cotizacion .id-enviar-cotizacion .text-button {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}
.container-filtro {
  margin-left: 8.8%;
  width: 15%;
  display: inline-block;
  margin-top: 0px;
  float: left;
}
.container-filtro .box-filter ul {
  padding: 0;
  position: relative;
}
.container-filtro .box-filter ul .list-filter li {
  list-style-type: none;
  margin-top: 4px;
}
.container-filtro .box-filter ul .list-filter li a {
  list-style-type: none;
  color: #333;
  font-size: 13px;
}
/* agregado por jordan */
.registro-de-empresa {
  position: relative;
  background: #fff;
  border-radius: 1em;
  height: 400px;
  padding: 20px;
  width: auto;
  max-width: 680px;
  margin: 20px auto;
}
.azul-curvo {
  background: #0f8efa;
  border-radius: 1em;
  color: #fff;
  margin: 20px;
  padding: 10px;
}
.anaranjado-curvo {
  background: #ffa500;
  border-radius: 1em;
  color: #fff;
  margin: 20px;
  padding: 10px;
}
.registro-empresa-comprador {
  float: left;
  background-color: #0f8efa;
  border: 2px;
  border-radius: 4px;
  border-color: #fff;
  height: 35px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding-top: 8px;
  padding-left: 23px;
  display: inline-block;
}
.registro-empresa-comprador p {
  float: left;
  color: #fff;
  display: inline-block;
}
.registro-empresa-comprador img {
  float: left;
  display: inline-block;
  margin-left: 5px;
}
.registro-empresa-proveedor {
  float: left;
  background-color: #ffa500;
  border: 2px;
  border-radius: 4px;
  border-color: #fff;
  height: 35px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding-top: 8px;
  padding-left: 23px;
  display: inline-block;
}
.registro-empresa-proveedor p {
  float: left;
  color: #fff;
  display: inline-block;
}
.registro-empresa-proveedor img {
  float: left;
  display: inline-block;
  margin-left: 5px;
}
ul.listado-check {
  list-style-type: none;
}
ul.listado-check li:before {
  content: "\2713\0020";
}
