body
  font-family roboto
  font-size 13px
  color #333

.clear
  clear both
  display block
  overflow hidden
  visibility hidden
  width 0px
  height 0px

.float-left
  position relative
  float left

.title20
  font-size 20px
  color #557387

.white13
  font-size 13px
  color #fff

.gris13
  font-size 13px
  color #8496a3

.gris14
  font-size 13px
  color #8496a3

.gris16
  font-size 16px
  color #8496a3

.gris18
  font-size 18px
  color #8496a3

.black13
  font-size 13px
  color #333

.black15
  font-size 15px
  color #333

.black16
  font-size 16px
  color #333

.black18
  font-size 18px
  color #333

.blue13
  color #0f8efa
  font-size 13px

.blue16
  color #0f8efa
  font-size 16px

.blue18
  color #0f8efa
  font-size 18px

.orange16
  color #f4811f
  font-size 16px

.container-menu-bar
  position fixed
  width 10.6%
  margin-left 89.22%

.container-logo-colibri
  float right
  position relative
  height 65px
  width 100%
  background #1b94fa
  text-align center

.logo_colibri
  position relative
  top 50%
  transform translateY(-50%)

.container-menu
  height 670px
  background #329ffb
  width 100%

.container-menu-sup-icon
  text-align right
  margin-right 5px
  margin-top 12px

.container-menu-button
  position relative
  width 97%
  height 44px
  background none
  border none
  img
    position relative
    float right
  p
    position relative
    float right
    margin-top 12px
    margin-right 5px

.container-cabecera
  width 89.4%
  height 65px
  background-color #eef5fb
  padding 0px

.container-logo
  float left
  position relative
  width 50px
  height 35px
  top 25%
  margin-left 4%
  background white
  border-radius 4px
  img
    top 50%
    position relative
    transform translateY(-20%)

.container-title
  position relative
  width 700px
  height 35px
  top 25%
  ransform translateY(-50%)
  float left
  margin-left 12.3%

.container-work-area
  margin-left 18.3%
  position relative
  width 700px
  height 1000px
  margin-top 20px

.paper
  margin-top 50px
  border-color #7bbeee
  width 700px
  border-width 1px
  border-style solid
  padding 40px 40px 70px 40px

.cabecera
  float left
  position relative
  margin-left 0px
  img
    position relative
    float left

.container-nombre-pedido
  margin-left 22px
  margin-top 30px

.cabecera-text
  float left
  margin-top 15px

.nombre-req
  margin-top none
  padding none
  height 8px

.button-publicar
  padding 0px
  margin-top 30px
  margin-bottom 50px
  text-align center

#id-button-publicar
  background #0ab246
  border none
  border-radius 4px
  height 38px
  img
    float left
    position relative
    margin-top 8px
  a
    float left
    position relative
    margin-left 5px
    color #fff
    margin-top 8px
    &:hover
      text-decoration none
  &:hover
    background #17b422

