body
	font-family roboto
	font-size 13px
	color #333

.container-cabecera
	width 100%
	height 65px
	background-color #eef5fb
	padding 0

.container-logo
	float left
	position relative
	width 150px
	background #1b94fa
	padding 5px

.logo_colibri
	position relative

.white13
	font-size 13px
	color #fff

.title20
	font-size 20px
	color #557387

.container-title
	position relative
	width 700px
	height 35px
	top 25%
	float left
	margin-left 70px

.bg-red
	background #f00
	color #fff

.bg-green
	background #008000
	color #fff
	border-radius 50%

.img-portada
	img
		width 100%

.sombra-gris
	background #F3F3F3
	
.sombra-gruesa-negra
	font-weight 700
	
button.btn-azul
		background blue
		color white
		border-radius .2em
		padding 5px 15px
	
button.btn-verde
		background green
		color white
		border-radius .2em
		padding 5px 15px
		

.texto-anaranjado
	color orange
	


