{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"> 
<head>
	<meta charset="UTF=8">
	<link rel='icon' type="image/png" href="images/colibri-15.png">
	<title> Aelnber.com {% block title %} {% endblock %} </title>
	<link href="{% static "css/style.css" %}" type="txt.css" rel="stylesheet">

	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
</head>
<body>
	<div class="background_logo">
		<div class="logo_container"	>
			<div class="logo_image">
				<img src="{% static "images/colibri-V3-white.png" %}" alt="Logo" width="55%" height="55%">
			</div>
			<br>
			<div class="logo_text" style=" font-size:24px;">
				A l e n b e r . c o m 
			</div>
		</div>	
	</div>

	<div class="container_cabecera">
		<div class="mascara">
			<div class="box_steps">

				<div class= "enc_prov">
					Publica lo que requieres y encuentra a tus proveedores
				</div>
			
				<div class="clear"></div>
			
				<div class="step_by_step">
					<div class="publi">
						<img class="step_icon" src="{% static "images/1-Pub-Req-68-white.png" %}" align="middle">
						<div class="clear"></div>
						<p class="text_cabecera">1. Publica tu requerimiento en www.colibri-supplier.com</p>
					</div>
					<div class="arrow"><img src="{% static "images/102-Siguiente-white-30.png" %}" align="middle"></div>
					<div class=" recib">
						<img class="step_icon" src="{% static "images/2-Recibir-Cotizacion-68-white.png" %}">
						<div class="clear"></div>
						<p class="text_cabecera">2. Diversos proveedores env&iacutean sus cotizaciones por este portal</p>
					</div>
					<div class="arrow"><img src="{% static "images/102-Siguiente-white-30.png" %}" align="middle"></div>
					<div class="selec">
						<img class="step_icon" src="{% static "images/3-Sel-MejorCotiza-68-white.png" %}">
						<div class="clear"></div>
						<p class="text_cabecera">3. El sistema te presentar&aacute las cotizaciones ordenada</p>
					</div>
				</div>
			</div>


			<div class="container-loging">
				<p>Iniciar cesi&oacute;n</p>
				<form action="" method="get" style="background:white">
					<div class="mail-box">
						<input type="email" class="form-control" id="email" placeholder="Ingrese email" />
					</div>
				</form>
				<form action="" method="get">
					<div class="contrasena-box">
						<input type="password" class="form-control" id="pwd" placeholder="Contrase&ntilde;a"/>
					</div>
				</form>
				<button id="ingresar">
					<p>Ingresar<p>
					<img src="{% static "images/12-Open_door-white.png" %}" align="middle">
				</button>
				<div class="clear"></div>
				<a href=" ">&iquestOlvidaste tu contrase&ntilde;a?</a>
			</div>	
			<div class="container-totadiva-nr">
				
				<div class="no_registrado">
					<p>&iquestTodav&iacutea no est&aacutes registrado?</p>
				</div>
				<button id="registra-empresa">
					<p>Registrar empresa<p>
					<img src="{% static "images/13-registrar-empresa-white.png" %}" align="middle">
				</button>
				<p>Si tu empresa ya est&aacute registrada:
				
				<a href=" ">crear nuevo usuario</a><p>	
			</div>			
		</div>	
	</div>

	<div class="clear"></div>

	<div class="header-box">
		<div class="search-container">
			<div class="search-box">
				<form action="" method="get">
					<input type="text" id="id-search-box" placeholder="Buscar requerimientos"/>
				</form>
			</div>
			<div class="button-search">
				<button id="id-button-search">
					<img src="{% static "images/83-Lupa-white.png" %}"  align="middle">
					<p>Buscar</p>
				</button>
			</div>
		</div>
		<div class="button-publi-requi">
			<button  id="id-button-publi-requi">
				<img src="{% static "images/5-Pub-Req--24-white-px.png" %}"  align="middle">
				<a href="Index-new-req.html">Publicar requerimiento</a>
			</button>
		</div>
	</div>

	<div class="clear"></div>

	<div class="resultado-busqueda">

		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/grana.jpg" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Transformador de potencia ::12 Unidades</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Grupo Gra&ntilde;a y Montero S.A.</a> . Publicado Hoy
				</div>

				<div class="car-tecnicas">
					Potencia: 50 KVA
				</div>
				<div class="car-tecnicas">
					Tensi&oacute;n: 33 KV
				</div>
				<div class="car-tecnicas">
					Frecuencia Nominal: 60 Hz
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Callo
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							A 60 d&iacute;as
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								5
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/volcan.gif" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Tanque de alamcenamiento de cianuro ::3 Unidades</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Volcan S.A.</a> . Publicado Hoy
				</div>

				<div class="car-tecnicas">
					Capacidad: 5000 L
				</div>
				<div class="car-tecnicas">
					Tama&ntilde;o IEC: 700A
				</div>
				<div class="car-tecnicas">
					Material: Acero
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Ancash
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							A 30 d&iacute;as
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								10
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/gloria.jpg" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">M&aacute;quina de pasteurizaci&oacute;n ::3 Unidades</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Gloria S.A.</a> . Publicado Hoy
				</div>

				<div class="car-tecnicas">
					Capaciad: 500 - 600 L
				</div>
				<div class="car-tecnicas">
					Potencia: 40W
				</div>
				<div class="car-tecnicas">
					Voltaje: AC 380V/220V
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Lima
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							A 30 d&iacute;as
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								8
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/edegel.jpg" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Elementos de protecci&oacute;n personal</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Edegel S.A.</a> . Publicado ayer
				</div>

				<div class="sub-requerimientos blue16">
					<ol>
						<li><a href="">Cascos de seguridad  ::200 Unidades</a></li> 
						<li><a href="">Guantes de protecci&oacute;n  ::300 Unidades</a></li> 
						<li><a href="">Lentes de seguridad  ::500 Unidades</a></li> 
						<li><a href="">Tapones  ::500 Unidades</a></li> 
					</ol>
				</div>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Chosica
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							Al contado
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								10
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/celima.jpg" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Faja transportadora ::450 Metros</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Cementos Lima S.A.</a> . Publicado Hace un d&iacute;a
				</div>

				<div class="car-tecnicas">
					Longitud: 450 metros
				</div>
				<div class="car-tecnicas">
					Espesor: 10mm
				</div>
				<div class="car-tecnicas">
					Material: Caucho tipo XZA
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Atocongo
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							A 60 d&iacute;as
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								9
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/Amfa_Vitrum.GIF" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Consultor&iacute;a en planeamiento estrat&eacute;gico</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Amfa Vitrum S.A.</a> . Publicado Hace dos d&iacute;as
				</div>

				<div class="car-tecnicas">
					Estamos buscando servicio de consultor&iacute;a para actualizar el Plan Estrat&eacute;gico de nuestra 
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Lima
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							Por avance
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								12
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>

		
		<div class="container-empresa1">
			<div class="container-logo-empresa">
				<div class="logo-empresa">
					<img src="{% static "images/logos/Aceros.jpg" %}" style="max-width:100%; max-height:100%;">
				</div>
			</div>
			<div class="container-pedido">
				<div class="title-req">
					<a href="">Motor de fundici&oacute;n de hierro de alta eficiencia  ::5 Unidades</a>
				</div>
				
				<div class="title-emp">
					Solicitado por <a href="" style="color:#8496a3">Aceros Arequipa S.A.</a> . Publicado Hace dos d&iacute;as
				</div>

				<div class="car-tecnicas">
					Potencia 50 HP
				</div>
				<div class="car-tecnicas">
					Velocidad: 1200 RPM
				</div>
				<div class="car-tecnicas">
					Factor de servicio: 1.2
				</div>
				<div class="car-tecnicas">
					...
				</div>
				<br>
				<div class="descripcion-box">
					<div class="descripcion">
						<img src="{% static "images/40-Pointern-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Entregar en:
							</div>
							Pisco
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/41-To-pay-30.png" %}">
						<div class="descripcion-text">
							<div class="gris13">
								Pago:
							</div>
							A 30 d&iacute;as
						</div>
					</div>
					<div class="descripcion">
						<img src="{% static "images/42-Cot-Recibidas-30.png" %}">
						<div class="descripcion-text">
							Cotizaciones<br>recibidas:
							<div class="orange14">
								7
							</div>
						</div>
					</div>
					<div class="box-enviar-cotizacion">
						<button class="id-enviar-cotizacion">
							<img src="{% static "images/6-Pub-Req-36.png" %}" class="button-img"  onmouseover="this.src='images/6-Pub-Req-36-white.png'" onmouseout="this.src='images/6-Pub-Req-36.png'">
							<div class="text-button">
								Enviar cotizaci&oacute;n
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container-filtro">
		<div class="black18" style="margin:20px 0px 10px 0px;">
			Categor&iacute;as
		</div>

		<div class="box-filter">
			<div class="black16" style="margin:20px 0px 10px 0px">
			Publicadores
			</div>
			<ul class="list-filter" style="margin-bottom:0px;">
				<li><a href="">Gra&ntilde;a y Montero<div class="gris13" style="display:inline"> (150)</div></a></li>
				<li><a href="">Cementos Lima<div class="gris13" style="display:inline"> (120)</div></a></a></li>
				<li><a href="">Antamina<div class="gris13" style="display:inline"> (100)</div></a></a></li>
				<li><a href="">Gloria<div class="gris13" style="display:inline"> (80)</div></a></a></li>
				<li><a href="">Aceros Arequipa<div class="gris13" style="display:inline"> (70)</div></a></a></li>
				<li><a href="">Edegel<div class="gris13" style="display:inline"> (65)</div></a></a></li>
			</ul>
			<input type="text" width="100%" placeholder="+A&ntilde;adir empresa" style="border:none;">
		</div>

		<div class="box-filter">
			<div class="black16" style="margin:30px 0px 10px 0px;">
			Sector
			</div>
			<ul class="list-filter" style="margin-bottom:0px;">
				<li><a href="">Miner&iacute;a<div class="gris13" style="display:inline"> (300)</div></a></li>
				<li><a href="">Construcci&oacute;n<div class="gris13" style="display:inline"> (220)</div></a></a></li>
				<li><a href="">Manufactura<div class="gris13" style="display:inline"> (150)</div></a></a></li>
				<li><a href="">Textil<div class="gris13" style="display:inline"> (120)</div></a></a></li>
				<li><a href="">Hidrocarburos<div class="gris13" style="display:inline"> (100)</div></a></a></li>
				<li><a href="">Pesca<div class="gris13" style="display:inline"> (80)</div></a></a></li>
			</ul>
			<input type="text" width="100%" placeholder="+A&ntilde;adir sector" style="border:none;">
		</div>

		<div class="box-filter">
			<div class="black16" style="margin:30px 0px 10px 0px;">
			Fecha de publicaci&oacute;n
			</div>
			<ul class="list-filter" style="margin-bottom:0px;">
				<li><a href="">Hoy<div class="gris13" style="display:inline"> (300)</div></a></li>
				<li><a href="">Ayer<div class="gris13" style="display:inline"> (220)</div></a></a></li>
				<li><a href="">Hace tres d&iacute;as<div class="gris13" style="display:inline"> (150)</div></a></a></li>
				<li><a href="">Hace una semana<div class="gris13" style="display:inline"> (120)</div></a></a></li>
				<li><a href="">Hace 15 d&iacute;as<div class="gris13" style="display:inline"> (100)</div></a></a></li>
				<li><a href="">Hace un mes<div class="gris13" style="display:inline"> (80)</div></a></a></li>
			</ul>
			<input type="text" width="100%" placeholder="+A&ntilde;adir fecha" style="border:none;">
		</div>

		<div class="box-filter">
			<div class="black16" style="margin:30px 0px 10px 0px;">
			Lugar
			</div>
			<ul class="list-filter" style="margin-bottom:0px;">
				<li><a href="">Lima<div class="gris13" style="display:inline"> (300)</div></a></li>
				<li><a href="">Arequipa<div class="gris13" style="display:inline"> (220)</div></a></a></li>
				<li><a href="">Callao<div class="gris13" style="display:inline"> (150)</div></a></a></li>
				<li><a href="">Trujillo<div class="gris13" style="display:inline"> (120)</div></a></a></li>
				<li><a href="">Piura<div class="gris13" style="display:inline"> (100)</div></a></a></li>
				<li><a href="">Moquegua<div class="gris13" style="display:inline"> (80)</div></a></a></li>
			</ul>
			<input type="text" width="100%" placeholder="+A&ntilde;adir lugar" style="border:none;">
		</div>
	</div>
	{% block container %}
	{% endblock %}


	<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.magnific-popup.js" %}"></script>
	<script type="text/javascript">
		$('button#registra-empresa').magnificPopup({
			items:{
				src:'<div class="registro-de-empresa"><h4>Puedes registrarte de dos formas</h4><div class="col-md-6"><div class="azul-curvo">Como empresa <h3>COMPRADORA</h3> </div><h4>Como empresa compradora podrá</h4><ul class="listado-check"><li>Publicar requerimientos</li><li>Recibir cotizaciones</li><li>Enviar Órdenes de compra</li></ul><button class="registro-empresa-comprador"><p>Registrate como comprador<p><img src="{% static "images/13-registrar-empresa-white.png" %}" align="middle"></button></div><div class="col-md-6"><div class="anaranjado-curvo">Como empresa <h3>PROVEEDORA</h3></div><h4>Como empresa proveedora podrá</h4><ul class="listado-check"><li>Enviar Cotizaciones</li><li>Recibir Órdenes de compra</li> <br></ul><button class="registro-empresa-proveedor"><p>Registrate como proveedor<p><img src="{% static "images/13-registrar-empresa-white.png" %}" align="middle"></button></div></div>',
				type: 'inline'
			},
			closeBtnInside: true
		});
	</script>
</body>
</html>