{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF=8">
	<link rel='icon' type="image/png" href="{% static "images/colibri-15.png" %}">
	<title> Colibri Supplier </title>
	<link href="{% static "css/style_basic.css" %}" type="txt.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
</head>
<body>
	<div class="img-portada">
		<img src="{% static "images/empresa/Antamina.png" %}">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					<img src="{% static "images/logos/Antamina.png" %}" width="100px">
				</div>
				<div class="col-md-9">
					<h4>Compañia minera Antamina S.A.</h4>
					<div class="col-md-2">Perfil</div>
					<div class="col-md-2">Productos</div>
					<div class="col-md-3">Contacto</div>
				</div>
			</div>
			<div class="col-md-12">
				<H4>Descripción de la empresa</H4>
				<hr>
				<div class="col-md-4">
					<h4>Razon Social: </h4>
					<h4>RUC: </h4>
					<h4>Oficina Principal: </h4>
					<h4>Principales productos: </h4>
					<h4>Sector: </h4>
					<h4>Inicio de Actividades desde: </h4>
					<h4>Numero de trabajadores: </h4>
					<h4>Sitio web: </h4>
				</div>
				<div class="col-md-6">
					<h4>Compañia Minera Antamina S.A.</h4>
					<h4>23423423353534</h4>
					<h4>Av el derby, Santiafgo de surco, lima, peru</h4>
					<h4>Cobre , zinc, molibdeno</h4>
					<h4>Minería </h4>
					<h4>1995</h4>
					<h4>100 - 5000 trabajadores </h4>
					<h4><a target="_blank" href="http://www.antamina.com">www.antamina.com</a> </h4>
				</div>
			</div>
			<div class="col-md-12">
				<h4>Productos</h4>
				<hr>

				<div></div>
			</div>
			<div class="col-md-12"></div>
			<div class="col-md-12"></div>
		</div>
	</div>

	


	<div class="container-menu-bar">
		<div class="container-logo-colibri">
			<div class="logo_colibri" style="text-align:center">
				<img src="{% static "images/colibri-V3-white.png" %}" alt="Logo" width="42%" height="55%">
				<br>
				<p class="white13">Colibri Supplier</p>
			</div>
		</div>

		<div class="container-menu">
			<div class="clear"></div>
			<div class="container-menu-sup-icon">
				<button class="container-menu-button" >
					<img src="{% static "images/29-Buzon-white-blue-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/29-Buzon-blue-36.png" %}'" onmouseout="this.src='{% static "images/29-Buzon-white-blue-36.png" %}'">
					<p class="container-menu-text white13" >
						Bandeja
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon">
				<button class="container-menu-button" >
					<img src="{% static "images/21-Pub-req-white-blue-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/21-Pub-req-blue-36.png" %}'" onmouseout="this.src='{% static "images/21-Pub-req-white-blue-36.png" %}'">
					<p class="container-menu-text white13" >
						Nuevo Req
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon">
				<button class="container-menu-button" >
					<img src="{% static "images/22-Req-en-Cot-blue-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/22-Req-en-Cot-blue-36.png" %}'" onmouseout="this.src='{% static "images/22-Req-en-Cot-blue-36.png" %}'">
					<p class="container-menu-text white13" >
						Cotizaciones
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon">
				<button class="container-menu-button" >
					<img src="{% static "images/23-Req-en-Comp-all-white-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/23-Req-en-Comp-blue-36.png" %}'" onmouseout="this.src='{% static "images/23-Req-en-Comp-all-white-36.png" %}'">
					<p class="container-menu-text white13" >
						Pedidos
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon" style="margin-top:40px;">
				<button class="container-menu-button" >
					<img src="{% static "images/24-Historico-allwhite-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/24-Historico-blue-36.png" %}'" onmouseout="this.src='{% static "images/24-Historico-allwhite-36.png" %}'">
					<p class="container-menu-text white13" >
						Hist&oacute;rico
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon">
				<button class="container-menu-button" >
					<img src="{% static "images/25-Estadisticas-allwhite-36.png" %}" class="button-img" onmouseover="this.src='{% static "images/25-Estadisticas-blue-36.png" %}'" onmouseout="this.src='{% static "images/25-Estadisticas-allwhite-36.png" %}'">
					<p class="container-menu-text white13" >
						Estad&iacute;stica
					</p>
				</button>
			</div>

			<div class="container-menu-sup-icon" style="margin-top:180px;">
				<button class="container-menu-button" >
					<img src="{% static "images/pictures/Elias-circle.png" %}">
					<p class="container-menu-text white13" >
						ELIAS
					</p>
				</button>
			</div>
		</div>
	</div>

	<div class="container-cabecera">
		<div class="container-logo">
			<img src="http://localhost:8000/media/{{cus_buy.logo}}" style="max-width:100%; max-height:100%;top:20%">
		</div>

		<div class="container-title">
			<div class="title20">
				Administrador
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<div class="container">
	<div class="row">
		<img src="http://localhost:8000/media/{{cus_buy.foto_institucional}}" alt="" width="60%">

		<h1>Perfil del cliente comprador</h1>
		{{cus_buy.customer}} <br>
		{{cus_buy.ruc}} <br>
		{{cus_buy.email}} <br>
		{{cus_buy.customer}} <br>
		<img src="http://localhost:8000/media/{{cus_buy.logo}}" alt="">
		{{cus_buy.logo}} <br>
		<img src="http://localhost:8000/media/{{cus_buy.foto_institucional}}" alt="">
		{{cus_buy.foto_institucional}} <br>
		{{cus_buy.razon_social}} <br>
		{{cus_buy.phone}} <br>
		{{cus_buy.cel}} <br>
		{{cus_buy.inicio_de_actividades}} <br>
		{{cus_buy.numero_de_trabajadores}} <br>
		{{cus_buy.website}} <br>
		{{cus_buy.email}} <br>
		{{cus_buy.sector}} <br>
	</div>
</div>


	<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</body>
</html>


