{% extends 'base2.html' %}
{% block container %}
{% load static from staticfiles %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Pasos para registrarse</h2> <br>
				<div class="col-md-4">
					<h3>Paso 1: <img src="{% static "images/iconos/120-Check-circle-green.png" %}" alt="check"> </h3>
					<div class="col-md-8 text-center">
						<img src="{% static "images/iconos/14-company_profile-65.png" %}">
						<h4>crear el perfil de la empresa</h4>
					</div>
				</div>
				<div class="col-md-4">
					<h3>Paso 2: <img src="{% static "images/iconos/120-Check-circle-green.png" %}" alt="check"> </h3>
					<div class="col-md-9 text-center">
						<img src="{% static "images/iconos/15-UserAdmin.png" %}">
						<h4>Designar a la persona que sera el Usuario-Admin</h4>
					</div>
				</div>
				<div class="col-md-4">
					<h3 class="sombra-gruesa-negra">Paso 3:</h3>
					<div class="col-md-9 text-center sombra-gris">
						<img src="{% static "images/iconos/16-NewUser.png" %}">
						<h4>El usuario-administrador ingresando a su cuenta podrá crear mas usuarios</h4>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<h3>Creación de usuarios</h3>
				<h4>El Usuario-Administrador debera ingresar a su correo para confirmar la creación de su cuenta</h4>
				<p>El usuario-Administrador también será un Usuario-Comprador, si se requiere crear más Usuarios-Compradores se deberá solicitar la creación del mismo al Usuario-Administrador.</p>

				<p class="texto-anaranjado" >
					Una vez que los usuarios hayan confirmado la creación de su cuenta, podrán publicar requerimientos y enviar órdenes de compra por medio de alenber.com
				</p>

			</div>
			
			<button class="btn-verde">
				 Finalizar
			</button>

		</div>
	</div>


{% endblock %}
